@import '../../../kit-core/mixins';

.kit__c11-2 {
  &__chartContainer {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__chart {
    .ct-line {
      stroke-width: 1px;
    }

    .ct-series-a {
      .ct-area {
        fill: rgba(199, 228, 255, 0.5) !important;
        fill-opacity: 1 !important;
      }

      .ct-line {
        stroke: rgb(0, 69, 133) !important;
      }
    }
  }
}
