<div class="kit__header__container">
  <div class="container-fluid" style="max-width: 1440px;">
    <div
      class="kit__header__color reset"
      data-toggle="tooltip"
      data-placement="left"
      title="Set Primary Color"
    >
      <button id="resetColor">
        <i class="fe fe-x-circle"></i>
      </button>
      <input type="color" id="colorPicker" value="#4b7cf3" />
      <i class="fe fe-package"></i>
    </div>
    <header class="pt-3 pb-3">
      <div class="row">
        <div class="col-xl-12">
          <div class="kit__header__topbar">
            <div class="kit__header__logoContainer">
              <div class="kit__header__logo">
                <img src="../../components/kit/core/img/logo.svg" class="mr-2" alt="Clean UI" />
                <div class="kit__header__logo__name">Clean UI KIT</div>
                <div class="kit__header__logo__descr">HTML</div>
              </div>
            </div>
            <span class="d-none d-md-block mr-3">Switch to:</span>
            <a
              class="d-none d-md-block mr-3 kit__utils__link"
              href="https://kit-react.cleanuitemplate.com"
            >
              React
            </a>
            <a
              class="d-none d-md-block mr-3 kit__utils__link"
              href="https://kit-vue.cleanuitemplate.com"
            >
              Vue
            </a>
            <a
              class="d-none d-md-block mr-3 kit__utils__link"
              href="https://kit-angular.cleanuitemplate.com"
            >
              Angular
            </a>
            <a
              class="mr-auto d-none d-md-block kit__utils__link"
              href="https://docs.cleanuitemplate.com/kit-pro/"
              target="_blank"
            >
              Docs &rarr;
            </a>
            <p class="mb-0 d-xl-block d-none">
              Status
              <span class="ml-1 badge bg-primary text-white font-size-12 text-uppercase"
                >ACTIVE</span
              >
            </p>
            <div class="dropdown ml-4">
              <a
                href=""
                class="dropdown-toggle text-nowrap"
                data-toggle="dropdown"
                aria-expanded="false"
                data-offset="5,15"
              >
                <img src="../../components/kit/core/img/avatars/avatar-2.png" alt="User avatar" />
              </a>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="dropdown-icon fe fe-user"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">
                  Home
                </div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="dropdown-icon fe fe-chevron-right"></i>
                  System Dashboard
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="dropdown-icon fe fe-chevron-right"></i>
                  User Boards
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="dropdown-icon fe fe-chevron-right"></i>
                  Issue Navigator
                  <span class="badge badge-success font-size-11 ml-2">25 New</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="dropdown-icon fe fe-log-out"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="mb-4 mr-4 float-xl-left">
            <a
              href="https://themeforest.net/item/clean-ui-kit-pro-widgetdriven-admin-dashboard-template/24783640"
              target="_blank"
              class="kit__header__button btn btn-success"
            >
              <i class="fe fe-shopping-cart align-middle mr-2"></i>
              Buy Now Pro 19$
              <span>Dark Theme & 17+ Apps!</span>
            </a>
          </div>
          <p class="pt-xl-2">
            Create beautiful apps faster with Clean UI KIT’s collection of visual, structural,
            platform, and interactive widgets & utilities.
            <br />
            Customized Bootstrap & third-party plugins framework with modular architecture.
          </p>
        </div>
        <div class="col-xl-12">
          <ul class="list-unstyled kit__header__tabs kit__header__js">
            <li>
              <a href="widgets-general.html"
                >Widgets <span class="badge bg-light ml-1">99+</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="widgets-general.html">General</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="widgets-lists.html">Lists</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="widgets-charts.html">Charts</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="widgets-tables.html">Tables</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="bootstrap-cards.html">Cards</a>
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-cards.html">Basic Cards</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-cards-tabbed.html"
                    >Tabbed Cards</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="bootstrap-tabs-pills-navs.html"
                >Bootstrap <span class="badge bg-light ml-1">25</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-tabs-pills-navs.html"
                    >Tabs / Pills /Navs</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-alerts.html">Alerts</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-badge-pills.html"
                    >Badge / Pills</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-breadcrumb.html">Breadcrumb</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-buttons.html">Buttons</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-card.html">Card</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-button-group.html"
                    >Button Group</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-carousel.html">Carousel</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-checkbox-radio.html"
                    >Checkbox / Radio</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-collapse.html">Collapse</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-dropdowns.html">Dropdowns</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-form.html">Form</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-jumbotron.html">Jumbotron</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-layout.html">Layout</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-list-group.html">List Group</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-media-object.html"
                    >Media Object</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-modal.html">Modal</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-pagination.html">Pagination</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-popovers.html">Popovers</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-progress.html">Progress</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-selectbox.html">Selectbox</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-spinners.html">Spinners</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-tables.html">Tables</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-toasts.html">Toasts</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="bootstrap-tooltips.html">Tooltips</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="form-plugins-bootstrap-select.html"
                >Form Plugins <span class="badge bg-light ml-1">8</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-bootstrap-select.html"
                    >Bootstrap Select</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-select2.html">Select 2</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-autocomplete.html"
                    >Autocomplete</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-ladda.html">Ladda</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-file-uploads.html"
                    >File Uploads</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-form-validation.html"
                    >Form Validation</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-form-wizard.html"
                    >Form Wizard</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-input-mask.html"
                    >Input Mask</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="form-plugins-extras.html">Extras</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="extra-plugins-date-picker.html"
                >Extra Plugins <span class="badge bg-light ml-1">8</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-date-picker.html"
                    >Datepicker</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-calendar.html">Calendar</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-loading-progress.html"
                    >Loading Progress</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-nestable.html">Nestable</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-notifications-alerts.html"
                    >Notifications / Alerts</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-owl-carousel.html"
                    >Owl Carousel</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-slider.html">Slider</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="extra-plugins-text-editor.html"
                    >Text Editor</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="tables-bootstrap-tables.html"
                >Tables <span class="badge bg-light ml-1">3</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="tables-bootstrap-tables.html"
                    >Bootstrap Tables</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="tables-datatables.html">Datatables</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="tables-editable-tables.html"
                    >Editable Tables</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="charts-chartist-js.html"
                >Charts <span class="badge bg-light ml-1">4</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="charts-chartist-js.html">Chartist.js</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="charts-c3.html">C3</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="charts-chart-js.html">Chart.js</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="charts-peity.html">Peity</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="icons-feather-icons.html"
                >Icons <span class="badge bg-light ml-1">4</span></a
              >
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="icons-feather-icons.html"
                    >Feather Icons</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="icons-fontawesome.html">Fontawesome</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="icons-icomoon-free.html">Icomoon Free</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="icons-linearicons-free.html"
                    >Linearicons Free</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="advanced-form-examples.html">Advanced</a>
              <ul class="list-unstyled">
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-form-examples.html"
                    >Form Examples</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-invoice.html">Invoice</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-email-templates.html"
                    >Email Templates</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-pricing-tables.html"
                    >Pricing Tables</a
                  >
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-grid.html">Grid</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-typography.html">Typography</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-utilities.html">Utilities</a>
                </li>
                <li>
                  <a class="btn btn-light mr-2 mb-2" href="advanced-colors.html">Colors</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="kit__header__buttons"></div>
        </div>
      </div>
    </header>
  </div>
</div>
